
  input[type="checkbox"] {
    display: none; /* Ẩn checkbox mặc định */
  }

  .checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
  }

  label.checkbox:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%; /* Đặt border-radius để tạo hình tròn */
    border: 2px solid #000;
    background-color: #fff;
    transition: background-color 0.3s ease;
  }

  label.checkbox:hover:before {
    background-color: #ddd;
  }

  input[type="checkbox"]:checked + label.checkbox:before {
    background-color: #364681;
  }

  .CustomerInfo_customer-info{
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        border: 1px solid var(--gray-200,#eaecf0);
        background: var(--base-white,#fff);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .CustomerInfo_customer-info__header{
        display: flex;
        flex-direction: column;
        padding: 20px 24px;
        gap: 16px;
        justify-content: center;
        border-bottom: 1px solid var(--gray-200,#eaecf0);
  }
  .Subheading{
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
  }
  .Submiddel{
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
  }
  .CustomerInfo_customer-info__content{
        display: flex;
        flex-direction:column;
        gap: 16px;
        padding: 20px 24px;
  }
  .form_c_info{
        width: 100%;
        height: 100px;
        padding: 0 10px 15px 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:50px;
        border-bottom: 1px solid var(--gray-200,#eaecf0);
  }
  .lb_h_100{
        display:flex;
        align-items: center;
        width: 50px;
        height:100%;
  }
  .col-sm{
            display: flex;
            flex-direction: column;
            width: 40%;
            height: 100%;
            gap: 4px;
  }
  .form_textbox{
        display: block;
        height: 50px;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 20px;
  }