        .head {
            padding-left: 32px;
            padding-right: 32px;
            width: 100%;
        }
        .container_head{
            width:100%;
            height:100%;
            display: flex;
            flex-direction: row;
        }
        .container_head_content{
            width:60%;
            height:100%;
            display: flex;
            flex-direction: column;
        }
        .container_head_logo{
            width:60%;
            height:100%;
            display: flex;
            flex-direction: row;
        }