{% extends 'admin/base.html' %}

{% block body %}
<h1 class="text-center text-danger">THONG KE DOANH THU</h1>

<div class="row">
  <div class="col-md-5 col-xs-12">
    <table class="table">
      <tr>
        <th>Id</th>
        <th>Tên tuyến bay</th>
        <th>Doanh thu</th>
      </tr>
      {% for s in stats %}
      <tr>
        <td>{{s[0]}}</td>
        <td>{{s[1]}}</td>
        <td>
          {% if s[2] %}
          {{ "{:,.1f}".format(s[2]) }} VNĐ
          {% else %}
          0 VNĐ
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    <br><br><br>
    <table class="table">
            <tr>
                <th>Tháng</th>
                <th>Doanh thu</th>

            </tr>
            {% for s in month_stats %}
            <tr>
                <td>{{s[0]}}</td>
                <td>{{"{:,.0f}".format(s[1])}} VNĐ</td>
            </tr>
            {% endfor %}
    </table>
    </div>



  <div class="col-md-5 col-xs-12" style="left: 50px;">
    <form>
      <div class="form-group d-flex">
        <input type="month" class="form-control" name="from_month" />
        <input type="submit" value="Thong ke" class="btn btn-info ml-2" />
      </div>
    </form>
         <canvas id="myChart"></canvas>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
window.onload = function() {
  const ctx = document.getElementById('myChart');

  let data = [];
  let labels = [];
  {% for s in stats %}
  {% if s[2] %}
  labels.push('{{s[1]}}')
  data.push({{s[2]}});
  {% endif %}
  {% endfor %}
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [{
        label: '# Doanh thu',
        data: data,
        borderWidth: 1,
        backgroundColor: ['red', 'green', 'blue', 'gold', 'silver']
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
}
</script>
{% endblock %}



