<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUAirlines - Hãng hàng không uy tín</title>
    <style>
        .footer {
            background-color: #364681;
            color: #fff;
            padding: 20px;
            text-align: center;
            position: relative;
            bottom 0;
            left: 0;

        }
        .footer a {
            color: #fff;
            text-decoration: none;
        }

    </style>
</head>
<body>

<!-- Nội dung trang web -->

<div class="footer">
    <p>&copy; 2023 OUAirlines. All rights reserved. | <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a></p>
</div>

</body>
</html>
