{% extends 'layout/base.html' %}

{% block title %}Đổi mật khẩu{% endblock %}
{% block content %}
{% if err_msg %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>

<div class="alert alert-danger d-flex align-items-center" role="alert" style="
  position: absolute;
  top: 20.5%;
  left: 80%;
  transform: translate(-20%, -20%);
  z-index: 1;
">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <div>
      {{ err_msg }}
  </div>
</div>
{% endif %}
<style>
    body {
      background-color: #F5F5F5;
    }
</style>
<div class="background_flight_list">
    <div class="container-flight">
        <div class="Card-card FlightSearchNavigation_wrapper">
            <div style="display:flex; gap: 400px;flex-direction:row;width: 100%; height: 70px; background-color: white;border-radius: 30px;">
                <a style="display:flex; align-items:center; justify-content:center;width: 60px; height: 100%;" href="/user-info/account/{{ current_user.id }}">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAVFBMVEX///8AAADU1NTQ0NDY2NjPz8/Z2dn6+vqcnJy6urrt7e3n5+eYmJjExMSnp6eNjY3z8/N+fn5kZGQXFxdpaWmGhoYgICCurq6wsLAPDw9eXl65ubk8yuZ3AAACK0lEQVR4nO3cSU4DQRBE0SowbhsP2IAZ739PFiAGu0pika1URP13gvjKNhgWXQoAAACAoU27/d1qfcieMZvpWD/d32ZPmcfmoX5bZ4+Zw6L+Zpi4rH/ZPaiLs8D6mL0o2EVgrV4/Ua8uA70+iY0L1rrPXhWodcFaT9mz4rQD6yp7V5hOYN1lD4vSC6xT9rIg3UCXj2E30OWE/cBl9rQY/cCb7Gkx+oHX2dNicEF1XFAdgeoIVNcPvMqeFoMLquOC6rigOgLVEaiOQHUEqiNQHYHqCFRHoDoC1RGojkB1BKojUB2B6ghUR6A6AtURqI5AdQSqI1AdgeoIVEegOgLVEaiu+bIOp0AuqI5AdfaB568dswu0v+DGPbA8uQdu3QOLfWDvy5pNYHl2Dyz7ZqDT+/9e7G/o/zn0/1k6wO/D8mqfaP+XRSk3/onX/olc0cEAV7T/h/AQD+oAVyTRAYkOSHRAogMSHZDogEQHJDog0QGJDkh0QKIDEh2Q6IBEByQ6INEBiQ5IdECiAxIdkOiARAckOhg6cZE9LcrQVxwgkQdVB1d0wBUdDH1FEnWQ6IBEB/3EZfa0KFzRwdBX3GRPi9JNfM1eFqabeMpeFqabOGUvC9NL3GUPi9NJXGXvCtROPGbPitRM3GavCtV6GcxL9qhYjcTb7E3BLhLfsheFO0+0+dr24+/rtd6z58zh9wsL19lj5nE4ffXdGz6iX6bd6rh9P2TPAAAAAPAfH8OWGQbyYbJnAAAAAElFTkSuQmCC"
                         alt="Info icon" style=" width: 40px; height: 40px;">
                </a>
                <label style="height: 100%;display:flex;align-items: center;justify-content: center; color: black;font-weight: 450;font-size: 160%;">Sửa Đổi Mật Khẩu Đăng Nhập</label>

            </div>





            <div style="width: 100%; height: 450px; background-color: white; text-align: center; border-radius: 30px;" >
               <form method="POST" action="/user-info/account/repassword/{{ current_user.id }}">
                    <div class="input-group">
                        <label style="position: absolute;  top: 30px; left: 33%; ">Nhập mật khẩu cũ:<span class="text-danger">*</span></label>
                        <input type="password" class="form-control narrow-input" style="position: absolute; width: 500px; top: 60px; left: 33%; height: 60px; border-radius: 30px;"
                               placeholder="Enter Password" id="password" name="password" required/>

                        <label style="position: absolute;  top: 140px; left: 33%; ">Nhập mật khẩu mới:<span class="text-danger">*</span></label>
                        <input type="password" class="form-control narrow-input" style="position: absolute; width: 500px; top: 170px; left: 33%; height: 60px; border-radius: 30px;"
                               placeholder="Enter Password" id="new_password" name="new_password" required/>

                        <label style="position: absolute;  top: 250px; left: 33%; ">Nhập lại mật khẩu mới:<span class="text-danger">*</span></label>
                        <input type="password" class="form-control narrow-input" style="position: absolute; width: 500px; top: 280px; left: 33%; height: 60px; border-radius: 30px;"
                               placeholder="Enter Password" id="confirm" name="confirm" required/>

                        <button type="submit" class="btn btn-primary btn-lg"
                                    style="top: 360px; left: 49%; padding-left: 2.5rem; padding-right: 2.5rem; border-radius: 30px;">Gửi</button>
                    </div>
               </form>
            </div>
        </div>
    </div>
</div>
</div>
<!--        <div class="container">-->
<!--            <div class="row" >-->
<!--                <div class="col-lg-6 offset-lg-1">-->
<!--                    <div class="bg-white shadow rounded" style="position: absolute; top: 50%; left: 500px; width: 600px; transform: translateY(-50%);">-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-6 pe-0">-->
<!--                                <div class="form-left h-100 py-5 px-5">-->
<!--                                    <form action="" class="row g-4">-->
<!--                                            <div class="col-12">-->
<!--                                                <label>Nhập mật khẩu cũ:<span class="text-danger">*</span></label>-->
<!--                                                <div class="input-group">-->
<!--                                                    <div class="input-group-text"><i class="bi bi-person-fill"></i></div>-->
<!--                                                    <input type="password" class="form-control" placeholder="Enter Password">-->
<!--                                                </div>-->
<!--                                            </div>-->

<!--                                            <div class="col-12">-->
<!--                                                <label>Nhập mật khẩu mới<span class="text-danger">*</span></label>-->
<!--                                                <div class="input-group">-->
<!--                                                    <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>-->
<!--                                                    <input type="password" class="form-control" placeholder="Enter New Password">-->
<!--                                                </div>-->
<!--                                            </div>-->

<!--                                            <div class="col-12">-->
<!--                                                <label>Xác nhận mật khẩu<span class="text-danger">*</span></label>-->
<!--                                                <div class="input-group">-->
<!--                                                    <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>-->
<!--                                                    <input type="password" class="form-control" placeholder="Confirm New Password">-->
<!--                                                </div>-->
<!--                                            </div>-->

<!--                                            <div class="col-12">-->
<!--                                                <button type="submit" class="btn btn-primary px-4 float-end mt-4">Thay đổi</button>-->
<!--                                            </div>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


    <!-- Bootstrap JS -->

{% endblock %}
